@font-face {
  font-family: "iconfont"; /* Project id 3602346 */
  src: url('iconfont.woff2?t=1661177980211') format('woff2'),
       url('iconfont.woff?t=1661177980211') format('woff'),
       url('iconfont.ttf?t=1661177980211') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-setting:before {
  content: "\e78e";
}

.icon-sorttable:before {
  content: "\e62e";
}

.icon-biaodanzujian-biaoge:before {
  content: "\eb94";
}

.icon-laba:before {
  content: "\e603";
}

.icon-fuzhi:before {
  content: "\e657";
}

.icon-yingyong:before {
  content: "\e679";
}

.icon-shujuzidian:before {
  content: "\e666";
}

.icon-shujukanban:before {
  content: "\eb66";
}

.icon-chanpin:before {
  content: "\e601";
}

.icon-daoru:before {
  content: "\eabf";
}

.icon-zhihuan:before {
  content: "\ec8d";
}

.icon-guzhangguzhangguanli:before {
  content: "\e647";
}

.icon-quanxian:before {
  content: "\e656";
}

.icon-add:before {
  content: "\e665";
}

.icon-direction-down:before {
  content: "\e66b";
}

.icon-direction-right:before {
  content: "\e66c";
}

.icon-direction-up:before {
  content: "\e66d";
}

.icon-direction-left:before {
  content: "\e66e";
}

.icon-home:before {
  content: "\e674";
}

.icon-houtaiguanli-xitongguanli:before {
  content: "\e6db";
}

.icon-wentiguanli:before {
  content: "\e616";
}

.icon-subtraction:before {
  content: "\e602";
}

.icon-anliku:before {
  content: "\e80f";
}

.icon-yonghu:before {
  content: "\e8c8";
}

.icon-tuichu:before {
  content: "\e892";
}

